.container{
   max-width: 764px;
    justify-self: center;
    margin: 0 auto;
}
.main{
    font-size: 20px;
    width: 100vw;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;

}
.oneCity__top {
    letter-spacing: 1.5px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    // .oneCity__top-city
    
    &-city {
        padding: 50px auto;
        font-size: 40px;
        font-weight: 300;
    }

    // .oneCity__top-temp

    &-temp {
        font-weight: 200;
        font-size: 60px;
        padding-left: 30px;
    }

    // .oneCity__top-bottom

    &-bottom {
        gap: 5px;
        display: flex;
        align-items: center;
        flex-direction: column;
        &-weather{}
        &-HL{}
    }
}


.oneCity__grid_hourly {
}
.oneCity__grid_forecast {
}
.oneCity__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @media(min-width: 764px){
            grid-template-columns: 1fr 1fr 1fr;

        }
        @media(min-width: 1000px){
            grid-template-columns: 1fr 1fr 1fr 1fr;

        }
        // background-color: rgba(60, 255, 0, 0.534);
        width: 100%;
        min-height: 50vh;
        margin: 0 auto;
        // gap: 15px;
        align-items: center;
        justify-content: center;
        padding-bottom: 70px;

		&-item{
        // background-color: rgba(0, 110, 255, 0.534);
        background-color: #1c9bf648;
        width: 90%;
        height: 170px;
        margin: 10px auto;
        border-radius: 10px;display: flex;
    flex-direction: column;
        }
}

.oneCity__grid-item {

    
    &-uv{
        
    }
    &-sunset{

    }
    &-wind {

    }
    &-totalprecip{

    }
    &-feelsLike{
        
    }
    &-humidity{

    }
    &-visibility{

    }
    &-pressure{

    }
}



.item__row {
    
    padding: 5px 10px;
    // .item__row-top

    &-top {
        display: flex;
        gap: 5px;
        align-items: center;
        text-transform: uppercase;
        color: #e3f4fea6;
        font-size: 15px;
        font-weight:500;
        padding: 10px 15px;
        padding-bottom: 0;
        }
        
    // .item__row-body

    &-body {
        padding: 10px 15px;
        font-size: 30px;
        color: white;
        display: flex;
        flex-direction: column;
        span{
            font-size: 20px;
        }
    }

    // .item__row-footer

    &-footer {
        padding: 10px 15px;
        font-size: 15px;
        color: white;
        display: flex;
        flex-direction: column;
      
    }
}
.item__row-wind-body{
    height: 140px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    position: relative;
    .windSpeed{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(15, 128,214);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color:white;
        font-size: 15px;
        span{
            font-size: 10px;
        }
        z-index: 2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .windArrow{
        background: rgba(255, 255, 255, 0.8);
        height: 80%;
        left: 49.5%;
        position: absolute;
        top: 10%;
        transform-origin: 50% 50%;
        width: 2px;
        // transform: rotateZ(0deg);
        z-index: 1;
        &:after{
            content: '';
            width: 0; 
            height: 0; 
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 10px solid rgba(255, 255, 255, 0.8);
            position: absolute;
            right: -4px;
    top: -4px;
    transform: rotateZ(270deg);
              }
            
        }
    }
    .item__row-rain-body{
        padding: 10px 15px;
        font-size: 30px;
        color: white;
        display: flex;
        flex-direction: row;
        gap: 5px;
    }
    .uvIndexBar{
        background: rgb(0,128,0);
background: linear-gradient(90deg, rgba(0,128,0,1) 0%, rgba(144,238,144,1) 20%, rgba(255,255,0,1) 40%, rgba(255,165,0,1) 60%, rgba(255,0,0,1) 80%, rgba(128,0,128,1) 100%);
        width: 85%;
        height: 5px;
        margin: 0 auto;
        position:relative;
        border-radius: 50px;
        .uvSmall{
            background-color: white;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            top: -50%;
            // left: 0%;
            position: absolute;
            // border: 2px solid black;
        }
        .uvBig{
            opacity: 0;
            background-color: rgb(15, 128, 214);
            width: 10px;
            height: 10px;
            border-radius: 50%;
            top: -50%;
            left: 0;
            position: absolute;
        }
}



.oneCity__forecast {
    @media(min-width: 764px){
        width: 98%;
    }
    width: 95%;
    min-height: 210px;
    background-color: #1c9bf648;
    margin: 20px auto;
    border-radius: 10px;

    // .oneCity__forecast-top

    &-top {
        display: flex;
        gap: 5px;
        align-items: center;
        text-transform: uppercase;
        color: #e3f4fea6;
        font-size: 15px;
        font-weight:500;
        padding: 10px 15px;
        padding-bottom: 0;
    }
    &-body{
      
    }
}
.oneCity__forecast-body-item{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
        flex-direction: row;
        // justify-content: space-between;
        align-items: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 5px;
    padding: 10px 0px;
    // padding-top: 10px;
    border-top: .5px solid #e3f4fea6;
    &-day{
        font-size: 20px;
        color: white;
        align-self: center;
    }
    &-clouds{
        display: flex;width: 100%;
        flex-direction: row-reverse;
       align-items: center;
       justify-content: space-evenly;
        img{
            width: 30px;
            height: 30px;
        }
        span{
            min-width: 33px;
            font-size: 15px;
        color: rgba(227, 244, 254, 0.6509803922);
        }
    }
    &-temps{
        font-size: 15px;
        align-self: center;
        justify-self: center;
        gap: 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        span{
            min-width: 20px;
        }
    }
}



.oneCity__grid_hourly{
    @media(min-width: 764px){
        width: 98%;
    }
    width: 95%;
    margin: 0 auto;
    min-height: 130px;
    background-color: rgba(28, 155, 246, 0.2823529412);
    margin: 20px 0px 10px 10px;
    border-radius: 10px;
    // .swiper{
    //     min-height: 100px;
    //     .swiper_wrapper{
    //         height: 100%;
    //     }
    // }
}
.hourly__row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 0px 10px;
    &-item{
        color: white;
        img{
            width: 30px;
            height: 30px;
        }
        .temp{
            color: white;
        }
    }
    
}
.swiper-slide{
    width: 25px;
}


// humidity
.gauge {
    width: 100%;
    max-width: 250px;
    // font-family: "Roboto", sans-serif;
    font-size: 32px;
    color: #004033;
  }
  
  .gauge__body {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background: #b4c0be;
    position: relative;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    
    overflow: hidden;
  }
  
  .gauge__fill {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
    background: #009578;
    transform-origin: center top;
    transform: rotate(0.25turn);
    transition: transform 0.2s ease-out;
  }
  
  .gauge__cover {
    width: 75%;
    color: white;
    height: 150%;
    background: rgb(64 , 130, 206);
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
  
    /* Text */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
    box-sizing: border-box;
  }
  
  #wrapper {
    position: relative;
    // margin: auto;
  }
  #meter {
    width: 100%; height: 100%;
    transform: rotateX(180deg);
  }
 
  #wrapper {
    position: relative;
    margin: auto;
    .humidity{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 25px;
    }
  }
  #meter {
    width: 100%; height: 100%;
    transform: rotateX(180deg);
  }
  .circle {
    fill: none;
  }
  .outline, #mask {
    stroke: #999;
  }


  .mainLine {
      width: 90%;
      height: 4px;
      margin: 20px auto;
      background-color: grey;
      display: flex;
      position: relative;
      border-radius: 50px;
      .leftLine {
          border-radius: 50px;
          // width: 30%;
          height: 100%;
          background-color: transparent;
          
          
        }
        .midLine{
            // width: 20%;
            height: 100%;
            background-color: red;
            border-radius: 50px;
        }
        .rightLine {
          border-radius: 50px;
        // width: 50%;
        height: 100%;
        background-color: transparent;
      }
      .greyCircle{
          height: 110%;
          aspect-ratio: 1;
          background-color: rgb(15, 128, 214);
          border-radius: 50px;
          position: absolute;
          z-index: 3;
          display: flex;
          justify-content: center;
          align-items: center;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          .whiteCircle{
            height: 50%;
            aspect-ratio: 1;
            background-color: white;
            border-radius: 50px;
            // position: absolute;
            z-index: 3;
          }
      }
}
